
body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.NBar-l{
    height: 5rem;
    background-color: black;
    color: white;
}

.NBar-l>a{
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: white;
    position: relative;
    top: 2em;
    left: 5em;
    padding: 0em 4em;
}

.NBar-b{
    color: white;
    position: relative;
    float: right;
    padding-right: 5em;
    padding: 0em 3em;
}

.Nav-bu{
    width: 8.5em;
    height: 2.5em;
    position: relative;
    top: 2em;
    border-radius: 2rem;
    background-color: red;
    color:white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin-right: 2em;
    margin: 0em 2em;
}

.main{
    display: inline-block;
    padding: 0 5rem;
}

img {
    width: 8rem;
    height: 11rem;
    margin-top: 1.2rem;
    left: 4px;
    padding: 0.7em;
}

.header {
    font-size: 1.8em;
    font-weight: 750;
    margin-top: 0.3em;
}

.bl1 {
    display: inline-block;
    position: absolute;
    margin-left: 2rem;
    margin-top: 9rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 22em;
    height: 20em;
}

.bl2 {
    display: inline-block;
    position: absolute;
    margin-left: 30rem;
    margin-top: 9rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 22em;
    height: 20em;
}


.bl3 {
    display: inline-block;
    margin-left: 58rem;
    margin-top: 9rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 22em;
    height: 20em;
    margin-right: 3px;
}